* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica, Arial, Sans-Serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 1rem;
}

body {
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

pre {
    overflow: scroll;
    width: 100%;
}


/*PAGE*/

#pages {
    display: flex;
    flex-direction: row;
}

.page {
    width: calc(100vw - 200px);
}

ul,
li {
    list-style: none;
}

ul ul {
    margin-left: 2.5rem;
}

.selected {
    color: green;
}

.profileRow {
    margin-bottom: .5rem;
}

.frameworkTitle {}

.frameworkNameAndDescription {
    font-size: large;
    padding-bottom: .5rem;
}

.competency {
    margin-bottom: .25rem;
}

.resource {
    margin-bottom: .5rem;
}

.frameworkSelect {
    margin-bottom: .25rem;
    padding: .5rem;
    border: 1px gray solid;
    border-radius: 1rem;
    min-height: 30px;
}

.frameworkSelectName {
    margin-left: 0rem;
}

.frameworkSelectDescription {
    display: block;
    margin-top: .25rem;
    margin-left: 0rem;
}

.competency .assertion {
    font-size: small;
    margin-left: 1rem;
    display: block;
    margin-left: .6rem;
    padding: .25rem;
}

.competency .assertion img {
    clip-path: circle(11px at center);
    margin-right: .0rem;
}


/*SIDEBAR*/

#sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    margin-right: .5rem;
}

#sidebar i {
    display: block;
}

#sidebar label {
    display: block;
}


/*HEADER*/

.header {
    height: 25px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    text-align: center;
    font: 10px/25px Helvetica, Verdana, sans-serif;
}

.header a {
    color: #999;
}


/*SLIDES*/

.processing {
    display: block;
    height: calc(100vh - 25px - 40px);
    width: calc(100vw - 40px);
    background: rgba(255, 255, 255, .95);
    font: 12px/1.5 Helvetica, Verdana, sans-serif;
    padding: 10px 0;
}


/*INPUT*/

input[type="text"] {
    width: 100%;
    padding: .25rem;
    margin: .25rem;
}

textarea {
    width: 100%;
    padding: .25rem;
    margin: .25rem;
}
