<html>

<head>
    <title>Learnnit</title>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdn.rawgit.com/cassproject/CASS/2f7a71d1/src/main/js/cass.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/main.js"></script>
    <script src="js/subjectArea.js"></script>
    <script src="js/topicArea.js"></script>
    <script src="js/learningResource.js"></script>
    <div id="app">
        <div class="header">
            <a style="float:right;height:35px;margin-top:-5px;margin-right:5px" target="_blank" href="http://cassproject.org"><img style="height:35px;" src="//www.cassproject.org/img/CASS-Logo-website-white.png"></a>
            <h1>Competency based Virtual Learning Resource Center</h1>
        </div>
        <div id="container">
            <p></p><br>
            <ul class="noDot">
                <li>
                    <input id="rad1" type="radio" name="rad">
                    <label for="rad1"><a class="vertical">Select Subject Area</a></label>
                    <div class="accslide">
                        <frameworks />
                    </div>
                </li>
                <li>
                    <input id="rad2" type="radio" name="rad">
                    <label for="rad2"><a class="vertical">Select Topic Area</a></label>
                    <div class="accslide">
                        <framework id="leftFramework" v-if="selectedFramework" :uri="selectedFramework.id"></framework>
                        <div v-else>No subject has been selected.</div>
                    </div>
                </li>
                <li>
                    <input id="rad3" type="radio" name="rad">
                    <label for="rad3"><a class="vertical">Select Learning Resource</a></label>
                    <div class="accslide">
                        <div v-if="selectedCompetency">
                            <div>The following resources exist for <strong>{{ selectedCompetency.name }}</strong></div>
                            <resources :url="selectedCompetency.id"></resources>
                            <hr>
                            <!--<div>You have the following history:</div>
                            <history></history>
                            <hr>-->
                            <button v-on:click="searchGoogle">Search for additional resources on Google.</button>
                            <hr>
                            <div><strong>Add a resource</strong></div>
                            <label for="inputUrl">URL: </label><input id="inputUrl" v-model="inputUrl" placeholder="Url" /><br>
                            <label for="inputName">Name: </label><input id="inputName" v-model="inputName" placeholder="Name of Resource" /><br>
                            <label for="inputDescription">Description: </label><textarea id="inputDescription" v-model="inputDescription" placeholder="Description of Resource"></textarea><br>
                            <button v-on:click="addResource">Add Resource</button>
                        </div>
                        <div v-else>No topic has been selected.</div>
                    </div>
                </li>
                <!--
                    <li>
                        <input id="rad4" type="radio" name="rad">
                        <label for="rad4"><a class="vertical">Add Resource</a></label>
                        <div class="accslide">
                        </div>
                    </li>
                    <li>
                        <input id="rad5" type="radio" name="rad">
                        <label for="rad5"><a class="vertical">Step 5: Convert Product Data to CTDL/ASN</a></label>
                        <div class="accslide">
                        </div>
                    </li>
                    <li>
                        <input id="rad6" type="radio" name="rad">
                        <label for="rad6"><a class="vertical">Step 6: View Conversion Process</a></label>
                        <div class="accslide">
                        </div>
                    </li>
                    <li>
                        <input id="rad7" type="radio" name="rad">
                        <label for="rad7"><a class="vertical">Step 7: View AI/NLP Method for writing TLOs/ELOs</a></label>
                        <div class="accslide">
                        </div>
                    </li>
                    <li>
                        <input id="rad8" type="radio" name="rad">
                        <label for="rad8"><a class="vertical">Step 8: View Output Framework</a></label>
                        <iframe class="accslide" style="margin:0px;padding:0px;border:0px;" id="viewOutputFramework">
                </iframe>
                    </li>
                    <li>
                        <input id="rad9" type="radio" name="rad">
                        <label for="rad9"><a class="vertical">Step 9: View CTDL/ASN</a></label>
                        <div class="accslide">
                        </div>
                    </li>
                    <li>
                        <input id="rad10" type="radio" name="rad">
                        <label for="rad10"><a class="vertical">Step 10: Export S1000D</a></label>
                        <div class="accslide">
                        </div>
                    </li>
-->
            </ul>
        </div>
    </div>
    <script src="js/vue.js"></script>
</body>

</html>
